body {
    font-family: Arial, sans-serif;
}
div {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    width: 300px;
}

#num1, #num2 {
    width: 145px;
    height: 30px;
}
#result {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
}
#add, #subtract, #multiply, #divide {
    width: 145px;
    height: 30px;
}
#equals {
    width: 145px;
    height: 30px;
    margin: 0 auto;  
    display: block;
}
